In [1]:
import pandas as pd
import numpy as np

In [12]:
data_hora = pd.read_excel('C:\\Users\\Riallen\\Documents\\Print_de_telas\\data2\\odds_hora1.xlsx')
data_hora['Data_Hora_Aposta'] = pd.to_datetime(data_hora['Time_Odds'])
data_hora['Date_Aposta'] = data_hora['Data_Hora_Aposta'].dt.date
data_hora['Hora_Aposta'] = data_hora['Data_Hora_Aposta'].dt.strftime('%H:%M:%S')
#data_hora.rename(columns={'03:55:45': ''}, inplace=True)
#print(data_hora)
#print(len(data_hora))
#t = len(data_hora)
#for i in range(0,t):
#    print(data_hora['Hora_Aposta'][i])
#    print(type(data_hora['Hora_Aposta'][i]))
#data_hora.dtypes
data_hora.head(10)

                  Time_Odds    Data_Hora_Aposta Date_Aposta Hora_Aposta
0  Mon Feb 13 09:34:18 2023 2023-02-13 09:34:18  2023-02-13    09:34:18
1  Mon Feb 13 09:34:36 2023 2023-02-13 09:34:36  2023-02-13    09:34:36
2  Mon Feb 13 09:35:07 2023 2023-02-13 09:35:07  2023-02-13    09:35:07
3  Mon Feb 13 09:35:42 2023 2023-02-13 09:35:42  2023-02-13    09:35:42
4  Mon Feb 13 09:36:01 2023 2023-02-13 09:36:01  2023-02-13    09:36:01
5  Mon Feb 13 09:36:16 2023 2023-02-13 09:36:16  2023-02-13    09:36:16
6  Mon Feb 13 09:36:35 2023 2023-02-13 09:36:35  2023-02-13    09:36:35
7  Mon Feb 13 09:36:59 2023 2023-02-13 09:36:59  2023-02-13    09:36:59
8  Mon Feb 13 09:37:59 2023 2023-02-13 09:37:59  2023-02-13    09:37:59
9  Mon Feb 13 09:38:52 2023 2023-02-13 09:38:52  2023-02-13    09:38:52

In [13]:
data_hora["hour"] = data_hora['Hora_Aposta'].str.replace(":.+", "", regex=True).astype("int")

In [14]:
data_hora

,Time_Odds,Data_Hora_Aposta,Date_Aposta,Hora_Aposta,hour
0,Mon Feb 13 09:34:18 2023,2023-02-13 09:34:18,2023-02-13,09:34:18,9
1,Mon Feb 13 09:34:36 2023,2023-02-13 09:34:36,2023-02-13,09:34:36,9
2,Mon Feb 13 09:35:07 2023,2023-02-13 09:35:07,2023-02-13,09:35:07,9
3,Mon Feb 13 09:35:42 2023,2023-02-13 09:35:42,2023-02-13,09:35:42,9
4,Mon Feb 13 09:36:01 2023,2023-02-13 09:36:01,2023-02-13,09:36:01,9
...,...,...,...,...,...
3300,Tue Feb 14 09:28:47 2023,2023-02-14 09:28:47,2023-02-14,09:28:47,9
3301,Tue Feb 14 09:29:04 2023,2023-02-14 09:29:04,2023-02-14,09:29:04,9
3302,Tue Feb 14 09:29:19 2023,2023-02-14 09:29:19,2023-02-14,09:29:19,9
3303,Tue Feb 14 09:29:44 2023,2023-02-14 09:29:44,2023-02-14,09:29:44,9
3304,Tue Feb 14 12:48:49 2023,2023-02-14 12:48:49,2023-02-14,12:48:49,12

In [20]:
data_qtapost = pd.read_excel('C:\\Users\\Riallen\\Documents\\Print_de_telas\\data2\\qt_apostadores1.xlsx')
data_qtapost.head()
t = len(data_qtapost)

for i in range(0,t):
    if data_qtapost['Qt_Apostadores'][i] // 100 == 0:
        print("Elemento: ", data_qtapost['Qt_Apostadores'][i])
        print("Indice: ", i)
        print("*-*-*-*"*12)

Elemento:  74
Indice:  220
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  7
Indice:  625
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  78
Indice:  821
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  74
Indice:  822
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  98
Indice:  829
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  92
Indice:  830
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  79
Indice:  831
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  71
Indice:  832
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  83
Indice:  834
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  72
Indice:  836
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  69
Indice:  837
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  80
Indice:  838
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  63
Indice:  839
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  62
Indice:  840
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  53
Indice:  841
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  53
Indice:  842
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  46
Indice:  843
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  68
Indice:  844
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  70
Indice:  845
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  69
Indice:  846
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  96
Indice:  923
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  7
Indice:  936
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  7
Indice:  996
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  42
Indice:  1633
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  77
Indice:  2256
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  50
Indice:  2279
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  77
Indice:  2407
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  74
Indice:  2574
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  74
Indice:  2650
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  74
Indice:  2924
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  7
Indice:  3192
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*

In [21]:
data_qtapost['Qt_Apostadores'][220] = 1771
data_qtapost['Qt_Apostadores'][625] = 1777
data_qtapost['Qt_Apostadores'][822] = 171
data_qtapost['Qt_Apostadores'][936] = 117
data_qtapost['Qt_Apostadores'][996] = 1715
data_qtapost['Qt_Apostadores'][2256] = 577
data_qtapost['Qt_Apostadores'][2279] = 850
data_qtapost['Qt_Apostadores'][2407] = 577
data_qtapost['Qt_Apostadores'][2574] = 1714
data_qtapost['Qt_Apostadores'][2650] = 1711
data_qtapost['Qt_Apostadores'][2924] = 1771
data_qtapost['Qt_Apostadores'][3192] = 1715

In [22]:
data_qtapost.head()
t = len(data_qtapost)

for i in range(0,t):
    if data_qtapost['Qt_Apostadores'][i] // 100 == 0:
        print("Elemento: ", data_qtapost['Qt_Apostadores'][i])
        print("Indice: ", i)
        print("*-*-*-*"*12)

Elemento:  78
Indice:  821
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  98
Indice:  829
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  92
Indice:  830
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  79
Indice:  831
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  71
Indice:  832
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  83
Indice:  834
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  72
Indice:  836
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  69
Indice:  837
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  80
Indice:  838
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  63
Indice:  839
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  62
Indice:  840
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  53
Indice:  841
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  53
Indice:  842
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  46
Indice:  843
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  68
Indice:  844
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  70
Indice:  845
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  69
Indice:  846
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  96
Indice:  923
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*
Elemento:  42
Indice:  1633
*-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-**-*-*-*

In [23]:
t = len(data_qtapost)

for i in range(0,t):
    if data_qtapost['Qt_Apostadores'][i] // 10000 >= 1:
        print("Elemento: ", data_qtapost['Qt_Apostadores'][i])
        print("Indice: ", i)
        print("*-"*12)

Elemento:  23135
Indice:  32
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  20943
Indice:  245
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  31710
Indice:  281
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  14143
Indice:  608
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  23135
Indice:  667
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  23135
Indice:  777
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  20943
Indice:  1052
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  39746
Indice:  1205
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  32746
Indice:  1496
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  31898
Indice:  1610
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  31710
Indice:  1868
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  20744
Indice:  1958
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  20943
Indice:  2003
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  14143
Indice:  2624
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  11343
Indice:  2737
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  14143
Indice:  2849
*-*-*-*-*-*-*-*-*-*-*-*-
Elemento:  20744
Indice:  3095
*-*-*-*-*-*-*-*-*-*-*-*-

In [24]:
data_qtapost['Qt_Apostadores'][32] = 2319
data_qtapost['Qt_Apostadores'][245] = 2091
data_qtapost['Qt_Apostadores'][281] = 3110
data_qtapost['Qt_Apostadores'][608] = 1413
data_qtapost['Qt_Apostadores'][667] = 2319
data_qtapost['Qt_Apostadores'][777] = 2319
data_qtapost['Qt_Apostadores'][1052] = 2091
data_qtapost['Qt_Apostadores'][1205] = 3916
data_qtapost['Qt_Apostadores'][1496] = 3216
data_qtapost['Qt_Apostadores'][1610] = 3188
data_qtapost['Qt_Apostadores'][1868] = 3110
data_qtapost['Qt_Apostadores'][1958] = 2011
data_qtapost['Qt_Apostadores'][2003] = 2091
data_qtapost['Qt_Apostadores'][2624] = 1413
data_qtapost['Qt_Apostadores'][2737] = 1113
data_qtapost['Qt_Apostadores'][2849] = 1413
data_qtapost['Qt_Apostadores'][3095] = 2011

In [25]:
t = len(data_qtapost)

for i in range(0,t):
    if data_qtapost['Qt_Apostadores'][i] // 10000 >= 1:
        print("Elemento: ", data_qtapost['Qt_Apostadores'][i])
        print("Indice: ", i)
        print("*-"*12)

In [26]:
data_qtapost

      Qt_Apostadores
0               1976
1               1930
2               2073
3               2104
4               2065
...              ...
3300            1922
3301            2137
3302            1793
3303            2003
3304            1835

[3305 rows x 1 columns]

In [29]:
data_odds = pd.read_excel("C:\\Users\\Riallen\\Documents\\Print_de_telas\\data2\\odd.xlsx")
data_odds.head()
#data_odds.describe()
#data_odds.dtypes

   Odds
0  1.01
1  1.83
2  4.48
3  6.58
4  1.53

In [30]:
data_odds['Odds'].describe()

count    3305.000000
mean        7.014490
std        33.380596
min         1.000000
25%         1.290000
50%         1.960000
75%         3.930000
max       823.340000
Name: Odds, dtype: float64

In [31]:
data_geral = pd.concat([data_odds, data_qtapost, data_hora], axis = 1)
data_geral

,Odds,Qt_Apostadores,Time_Odds,Data_Hora_Aposta,Date_Aposta,Hora_Aposta,hour
0,1.01,1976,Mon Feb 13 09:34:18 2023,2023-02-13 09:34:18,2023-02-13,09:34:18,9
1,1.83,1930,Mon Feb 13 09:34:36 2023,2023-02-13 09:34:36,2023-02-13,09:34:36,9
2,4.48,2073,Mon Feb 13 09:35:07 2023,2023-02-13 09:35:07,2023-02-13,09:35:07,9
3,6.58,2104,Mon Feb 13 09:35:42 2023,2023-02-13 09:35:42,2023-02-13,09:35:42,9
4,1.53,2065,Mon Feb 13 09:36:01 2023,2023-02-13 09:36:01,2023-02-13,09:36:01,9
...,...,...,...,...,...,...,...
3300,2.03,1922,Tue Feb 14 09:28:47 2023,2023-02-14 09:28:47,2023-02-14,09:28:47,9
3301,1.22,2137,Tue Feb 14 09:29:04 2023,2023-02-14 09:29:04,2023-02-14,09:29:04,9
3302,1.01,1793,Tue Feb 14 09:29:19 2023,2023-02-14 09:29:19,2023-02-14,09:29:19,9
3303,2.54,2003,Tue Feb 14 09:29:44 2023,2023-02-14 09:29:44,2023-02-14,09:29:44,9
3304,1.27,1835,Tue Feb 14 12:48:49 2023,2023-02-14 12:48:49,2023-02-14,12:48:49,12

In [32]:
data_geral.to_excel('C:\\Users\\Riallen\\Documents\\Print_de_telas\\data2\\data_geral.xlsx', index = False)